<%- include('partials/header') %>

<div class="container">
    <div id="topBar" class="mt-3">
        <h2 class="mt-3 d-inline">My List</h2><a href="/" class="btn btn-warning" style="float: right;">Back to search</a>
    </div>

    <div class="row">
        <% if(songs.length === 0) { %>
            <div class="col-12 mt-3 mb-3">
                <div class="card" id="songCard">
                    <div class="card-body">
                        <h5 class="card-title">Your list is empty :(</h5>
                        <p class="card-text"><a href="/">Search</a> for any tabs, then click on the <i class="fas fa-plus-square"></i> icon next to the song and it will be saved here.</p>
                    </div>
                </div>
            </div>
        <% } else { %>
            <% songs.forEach((song) => { %>
                <div class="col-4 mt-3 mb-3">
                    <div class="card" id="songCard">
                        <div class="card-body">
                            <h5 class="card-title"><%= song.title %></h5>
                            <p class="card-text">By <%= song.artist %></p>
                            <form action="#" method="POST">
                                <input type="hidden" name="title" value="<%= song.title.toUpperCase() %>">
                                <input type="hidden" name="artist" value="<%= song.artist.name %>">
                                <input type="hidden" name="songID" value="<%= song.id %>">
                                <a href="http://www.songsterr.com/a/wa/song?id=<%= song.songID %>" class="btn btn-primary" style="width: 60%;">View Tabs</a>
                                <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                            <small>Added to list on <strong><%= song.dateAdded %></strong></small>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% }; %>
    </div>
</div>

<%- include('partials/footer') %>